<div class="table-row row valign-wrapper">
	<div class="table-col col s3">
		<a data-bind="text: data.venuename"></a>
	</div>
	<div class="table-col col s2" data-bind="numberFormat: data.tapea">Tape A</div>
	<div class="table-col col s2" data-bind="numberFormat: data.tapeb">Tape B</div>
	<div class="table-col col s2" data-bind="numberFormat: data.tapec">Tape C</div>
	<div class="table-col col s2" data-bind="numberFormat: data.totaltape">Total</div>
	<div class="table-col col s1" data-bind="text: data.marketpercent + '%'"></div>
</div>