<div class="row">
    <div class="col s3 push-s9">
        <div class="row grey lighten-3">
            <div class="col s4" style="margin-top: 4px;">HaNoi</div>
            <div class="col s4" style="margin-top: 4px;">
                <span data-bind="text:hours"></span>:<span data-bind="text:minutes"></span>:<span
                    data-bind="text:seconds"></span>
            </div>
            <button class="col s4 blue lighten-1" style="color: white;margin-bottom: 5px; margin-top: 1px;"
                    data-bind="click: updateTime">Update
            </button>
        </div>
    </div>
</div>