<div style="background: white;margin-right: 80px;
    margin-left: 80px;">
    <div class="row">
        <h5 style="text-align: center;padding-top: 15px;">Weather in <span id="location" data-bind="text:location"></span></h5>
    </div>
    <div class="row" style="margin-top: -25px;margin-bottom: -11px;">
        <h4 style="text-align: center;"><span id="temperature" data-bind="text:temperature"></span><sup>o</sup><span class="unit">C</span></h4>
    </div>
    <div class="row" style="margin-bottom: 0px;margin-left: 6px;
    margin-right: 6px;">
        <div class="col s2 push-s4" style="border-right: solid 1px #e0e0e0;border: solid 1px #e0e0e0;">
            <span>Wind</span>
        </div>
        <div class="col s2 push-s4" style="border: solid 1px #e0e0e0;">
            <span data-bind="text:wind"></span> m/s
        </div>
    </div>
    <div class="row" style="margin-bottom: 0px;margin-left: 6px;
    margin-right: 6px;">
        <div class="col s2 push-s4" style="border-right: solid 1px #e0e0e0;border: solid 1px #e0e0e0">
            <span>Pressure</span>
        </div>
        <div class="col s2 push-s4" style="border: solid 1px #e0e0e0">
            <span data-bind="text:pressure"></span> hpa
        </div>
    </div>
    <div class="row" style="margin-bottom: 0px;margin-left: 6px;
    margin-right: 6px;">
        <div class="col s2 push-s4" style="border-right: solid 1px #e0e0e0;border: solid 1px #e0e0e0;">
            <span>Humidity</span>
        </div>
        <div class="col s2 push-s4" style="border: solid 1px #e0e0e0;">
            <span data-bind="text:humidity"></span> %
        </div>
    </div>
    <div class="row" style="margin-bottom: 0px;margin-left: 6px;
    margin-right: 6px;">
        <div class="col s2 push-s4" style="border-right: solid 1px #e0e0e0;border: solid 1px #e0e0e0;">
            <span>Sunrise</span>
        </div>
        <div class="col s2 push-s4" style="border: solid 1px #e0e0e0;">
            <span data-bind="text:sunrise"></span>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0px;margin-left: 6px;
    margin-right: 6px;">
        <div class="col s2 push-s4" style="border-right: solid 1px #e0e0e0;border: solid 1px #e0e0e0;">
            <span>Sunset</span>
        </div>
        <div class="col s2 push-s4" style="border: solid 1px #e0e0e0;">
            <span data-bind="text:sunset"></span>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0px;margin-left: 6px;
    margin-right: 6px;">
        <div class="col s2 push-s4" style="border-right: solid 1px #e0e0e0;border: solid 1px #e0e0e0;">
            <span>Geo coords</span>
        </div>
        <div class="col s2 push-s4" style="color: darkred;border: solid 1px #e0e0e0;">
            <span data-bind="text:geo"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 8px;"></div>

</div>